RAZORPAY_KEY_ID=rzp_test_TWLQ4EDydkGeJ5
RAZORPAY_KEY_SECRET=btaolPiD4MXNP3hmokdxdqtO
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret
RAZORPAY_DRY_RUN=true
MODEL_PATH=models/recovery_catboost.cbm
LOCAL_WEBHOOK_URL=http://127.0.0.1:8000/webhooks/razorpay
